html,
body {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  position: relative;
}
.page-wrapper {
  position: relative;
  z-index: 1;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;

  @media (min-width: $width-md) {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }

  &-sub {
    padding-top: 1rem;
    padding-bottom: 5rem;

    @media (min-width: $width-md) {
      padding-top: 1.5rem;
    }
  }
}
img {
  max-width: 100%;
}
.no-style {
  padding: 0 !important;
  border: none !important;
  margin: 0 !important;
  background: none !important;
  box-shadow: none !important;
}
.d-hide {
  display: none;
}
.fb-widget {
  height: 100%;

  img {
    width: 100%;
    max-width: none;
    height: 100%;
  }
}
.page-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  opacity: 0.5;
  z-index: 2;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.show-mbl-menu {
  overflow: hidden;
  bottom:0;
  
  .nav-close {
    display: inline-block !important;
  }
  .nav-open {
    display: none !important;
  }
  @media (min-width: $width-lg) {
    overflow: auto;
  }
  #Nav {
    @media (max-width: $width-lg) {
      height: calc(100vh - 5.8125rem);
      top: 5.8125rem;
      transition: all 0.25s;
    }
  }
}
.nmb {
  margin-bottom: 0 !important;
}
.video-wrapper {
  position: relative;

  @media (min-width: $width-xl) {
    height: 100%;
  }
  .video-js {
    @media (min-width: $width-xl) {
      height: 100% !important;
      width: 100% !important;
      max-width: none !important;
      padding:0 !important;
    }
  }
  .btn {
    position:absolute;
    bottom: 1rem;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}