$orange: #F58220;
$orange-shade: #F9B479; // Carousel Arrow left & Right 
$orange-tint: #FEF9F4; // Background #MainTiles

$green: #00CC99;
$green-shade: #66E0C2; // Carousel Arrow left & Right 
$green-tint: #F2FCFA; // Background #MainTiles

$purple: #9370DB;
$purple-shade: #BEA9E9; // Carousel Arrow left & Right 
$purple-tint: #FAF8FD; // Background #MainTiles

$blue: #1E90FF;
$blue-shade: #78BCFF; // Carousel Arrow left & Right 
$blue-tint: #F4F9FF; // Background #MainTiles

$red: #FF0800;
$red-shade: #FF6B66; // Carousel Arrow left & Right 
$red-tint: #FFF3F2; // Background #MainTiles


.orange {
  .btn {
    &.btn-primary {
      background-color: $orange;
  
      &:hover,
      &:active {
        background: $orange-shade;
      }
      &:focus,
      &.btn-active {
        background: $orange-shade;
      }
    }
    &.btn-secondary {
      color: $orange;
      border-color: $orange;

      &:hover,
      &:focus {
        color: $orange-shade;
        border-color: $orange-shade;
      }
      &.btn-ghost-active {
        color: $orange;
      }
    }
    &.btn-ghost {
  
      &:hover,
      &:focus {
        color: $orange;
      }
      &.btn-ghost-active {
        color: $orange;
      }
    }
    &.btn-link {
      color: $orange;
  
      &:hover,
      &.btn-link-active {
        color: $orange-shade;
      }
    }
  }
  p {
    a {
      color: $orange;
  
      &:hover,
      &:focus,
      &:active {
        color: $orange;
      }
    }
  }
  a {
    color: $orange;
  
    &:hover,
    &:focus,
    &:active {
      color: $orange;
    }
  }
  &.show-mbl-menu {
    #NavBar {
      border-bottom-color: $orange;
    }
  }
  
  .nav-list {
    li {
      &.active {
        > a {
          color: $orange;
        }
      }
    }
    a {
      &:hover {
        color: $orange;
      }
    }
    > li {
      &.dropdown {

        &.show {
          > a {
            color: $orange;
          }
        }
        ul {
          li {
            &.active {
              a {
                color: $orange;
              }
            }
          }
        }
      }
    }
  }
  #HeroCarousel {
    .carousel-indicators {
      li {
        background: $orange;
      }
    }
    .carousel-control {
      background: $orange-shade;
    }
  }
  #MainTiles {
    background: $orange-tint;

    .section-title {
      h2 {
        border-left-color: $orange;
      }
    }
  }
  .performance-list,
  .event-list {
    li {
      h5 {
        color: $orange;
      }
      &.with-overlay {
        .img {
          .status {
            strong {
              color: $orange;
              border-color: $orange;
            }
          }
        }
      }
    }
  }
  #Subscribe,
  #Footer,
  .scrollTo {
    background: $orange;
  }
  #Tips {
    background: $orange-tint;
  }
  .badge {
    &-primary {
      background: $orange;
    }
  }
  .tooltip {
    &-inner {
      background-color: $orange;
    }
    &.bs-tooltip-auto[x-placement^="top"],
    &.bs-tooltip-top {
      .arrow {
        &:before {
          border-top-color: $orange;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="right"],
    &.bs-tooltip-right {
      .arrow {
        &:before {
          border-right-color: $orange;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="bottom"],
    &.bs-tooltip-bottom {
      .arrow {
        &:before {
          border-bottom-color: $orange;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="left"],
    &.bs-tooltip-left {
      .arrow {
        &:before {
          border-left-color: $orange;
        }
      }
    }
  }
  .card {
    &-grid {
      ul {
        li {
          a:not(.btn) {
            &:hover {
              border-color: $orange;
  
              h5 {
                color: $orange;
              }
            }
          }
        }
      }
    }
    &-advertisement {
      ul {
        li { 
          &:hover {
            border-color: $orange;
          }
        }
      }
    }
    &-small {
      li {
  
        &:hover {
          a {
            color: $orange;
          }
        }
        a {
          &:hover {
            border-color: $orange;
            color: $orange;
          }
        }
      }
    }
  }
  .carousel {
    &-custom {
      .owl-carousel {
        .owl-nav {
          button {
            background: $orange;
          }
        }
      }
      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            border-color: $orange;
  
            &:hover {
              border-color: $orange;
            } 
            .carousel-slide-item {
              border-color: $orange;
  
              a {
                color: $orange;
              }
            }
          }
        }
      }
      .owl-dots {
        .owl-dot {
          &.active {
            background: $orange !important;
          }
        }
      }
    }
  }
  .accordion {
    .card {
      &-header {
        background: $orange;
      }
    }
  }
  .social-media {
    ul {
      li {
        a {
          i {
            color: $orange;
          }
        }
      }
    }
  }
  table {
    width: 100%;
  
    &:not(.table-condensed) {
      thead {
        tr {
          th {
            background: $orange;
          }
        }
      }
    }
  }
  .pagination { 
    li {
      .page-link {
        color: $orange;

        &:hover {
          background: $orange;
        }
      }
      &.active {
        .page-link {
          background: $orange;
        }
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~ .custom-control-label {
        color: $orange;
  
        &:before {
          background: $orange-shade;
        }
        &:after {
          background: $orange !important;
        }
      }
    }
  }
  .stats {
    .stat-box {
      p {
        strong {
          color: $orange;
        }
      }
    }
  }
  .contextual-stat-box {
    .desc {
      p {
        strong {
          color: $orange;
        }
      }
    }
  }
  #Result {
    .section-title {
      h2,
      p {
        strong {
          color: $orange;
        }
      }
    }
  }
  .search-result {
    li {
      div {
        strong {
          background: $orange-shade;
        }
      }
    }
  }
  .filter {
    background: $orange-tint;

    .btn-search,
    .input-group-append {
      color: $orange;
    }
  }
  .datepicker {
    table {
      tr {
        td {
          .active {
            background-color: $orange;
            &:hover {
              background-color: $orange;
              &:hover {
                background-color: $orange;
              }
              &:active {
                background-color: $orange;
              }
            }
            &:active {
              background-color: $orange;
            }
            &:hover.active {
              background-color: $orange;
            }
            &:hover.disabled {
              background-color: $orange;
            }
            &:hover[disabled] {
              background-color: $orange;
            }
            &.disabled {
              &:active {
                background-color: $orange;
              }
              &:hover.active {
                background-color: $orange;
              }
              &:hover.disabled {
                background-color: $orange;
              }
              &:hover[disabled] {
                background-color: $orange;
              }
            }
          }
        }
        td.active.active {
          background-color: $orange;
        }
        td.active.disabled.active {
          background-color: $orange;
        }
        td.active.disabled.disabled {
          background-color: $orange;
        }
        td.active[disabled] {
          background-color: $orange;
        }
        td.active.disabled[disabled] {
          background-color: $orange;
        }
      }
    }
  }
  #EventTab {
    .btn {
      background: $orange-shade;

      &.active {
        background: $orange;
      }
    }
  }
  .tags {
    > li {
      strong {
        background: $orange-shade;
      }
    }
  }
  .details {
    > li {
      &:before {
        background: $orange;
      }
    }
  }
}

// Green Theme

.green {
  .btn {
    &.btn-primary {
      background-color: $green;
  
      &:hover,
      &:active {
        background: $green-shade;
      }
      &:focus,
      &.btn-active {
        background: $green-shade;
      }
    }
    &.btn-secondary {
      color: $green;
      border-color: $green;

      &:hover,
      &:focus {
        color: $green-shade;
        border-color: $green-shade;
      }
      &.btn-ghost-active {
        color: $green;
      }
    }
    &.btn-ghost {
  
      &:hover,
      &:focus {
        color: $green;
      }
      &.btn-ghost-active {
        color: $green;
      }
    }
    &.btn-link {
      color: $green;
  
      &:hover,
      &.btn-link-active {
        color: $green-shade;
      }
    }
  }
  p {
    a {
      color: $green;
  
      &:hover,
      &:focus,
      &:active {
        color: $green;
      }
    }
  }
  a {
    color: $green;
  
    &:hover,
    &:focus,
    &:active {
      color: $green;
    }
  }
  &.show-mbl-menu {
    #NavBar {
      border-bottom-color: $green;
    }
  }
  
  .nav-list {
    li {
      &.active {
        > a {
          color: $green;
        }
      }
    }
    a {
      &:hover {
        color: $green;
      }
    }
    > li {
      &.dropdown {

        &.show {
          > a {
            color: $green;
          }
        }
        ul {
          li {
            &.active {
              a {
                color: $green;
              }
            }
          }
        }
      }
    }
  }
  #HeroCarousel {
    .carousel-indicators {
      li {
        background: $green;
      }
    }
    .carousel-control {
      background: $green-shade;
    }
  }
  #MainTiles {
    background: $green-tint;

    .section-title {
      h2 {
        border-left-color: $green;
      }
    }
  }
  .performance-list,
  .event-list {
    li {
      h5 {
        color: $green;
      }
      &.with-overlay {
        .img {
          .status {
            strong {
              color: $green;
              border-color: $green;
            }
          }
        }
      }
    }
  }
  #Subscribe,
  #Footer,
  .scrollTo {
    background: $green;
  }
  #Tips {
    background: $green-tint;
  }
  .badge {
    &-primary {
      background: $green;
    }
  }
  .tooltip {
    &-inner {
      background-color: $green;
    }
    &.bs-tooltip-auto[x-placement^="top"],
    &.bs-tooltip-top {
      .arrow {
        &:before {
          border-top-color: $green;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="right"],
    &.bs-tooltip-right {
      .arrow {
        &:before {
          border-right-color: $green;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="bottom"],
    &.bs-tooltip-bottom {
      .arrow {
        &:before {
          border-bottom-color: $green;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="left"],
    &.bs-tooltip-left {
      .arrow {
        &:before {
          border-left-color: $green;
        }
      }
    }
  }
  .card {
    &-grid {
      ul {
        li {
          a:not(.btn) {
            &:hover {
              border-color: $green;
  
              h5 {
                color: $green;
              }
            }
          }
        }
      }
    }
    &-advertisement {
      ul {
        li { 
          &:hover {
            border-color: $green;
          }
        }
      }
    }
    &-small {
      li {
  
        &:hover {
          a {
            color: $green;
          }
        }
        a {
          &:hover {
            border-color: $green;
            color: $green;
          }
        }
      }
    }
  }
  .carousel {
    &-custom {
      .owl-carousel {
        .owl-nav {
          button {
            background: $green;
          }
        }
      }
      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            border-color: $green;
  
            &:hover {
              border-color: $green;
            } 
            .carousel-slide-item {
              border-color: $green;
  
              a {
                color: $green;
              }
            }
          }
        }
      }
      .owl-dots {
        .owl-dot {
          &.active {
            background: $green !important;
          }
        }
      }
    }
  }
  .accordion {
    .card {
      &-header {
        background: $green;
      }
    }
  }
  .social-media {
    ul {
      li {
        a {
          i {
            color: $green;
          }
        }
      }
    }
  }
  table {
    width: 100%;
  
    &:not(.table-condensed) {
      thead {
        tr {
          th {
            background: $green;
          }
        }
      }
    }
  }
  .pagination { 
    li {
      .page-link {
        color: $green;

        &:hover {
          background: $green;
        }
      }
      &.active {
        .page-link {
          background: $green;
        }
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~ .custom-control-label {
        color: $green;
  
        &:before {
          background: $green-shade;
        }
        &:after {
          background: $green !important;
        }
      }
    }
  }
  .stats {
    .stat-box {
      p {
        strong {
          color: $green;
        }
      }
    }
  }
  .contextual-stat-box {
    .desc {
      p {
        strong {
          color: $green;
        }
      }
    }
  }
  #Result {
    .section-title {
      h2,
      p {
        strong {
          color: $green;
        }
      }
    }
  }
  .search-result {
    li {
      div {
        strong {
          background: $green-shade;
        }
      }
    }
  }
  .filter {
    background: $green-tint;

    .btn-search,
    .input-group-append {
      color: $green;
    }
  }
  .datepicker {
    table {
      tr {
        td {
          .active {
            background-color: $green;
            &:hover {
              background-color: $green;
              &:hover {
                background-color: $green;
              }
              &:active {
                background-color: $green;
              }
            }
            &:active {
              background-color: $green;
            }
            &:hover.active {
              background-color: $green;
            }
            &:hover.disabled {
              background-color: $green;
            }
            &:hover[disabled] {
              background-color: $green;
            }
            &.disabled {
              &:active {
                background-color: $green;
              }
              &:hover.active {
                background-color: $green;
              }
              &:hover.disabled {
                background-color: $green;
              }
              &:hover[disabled] {
                background-color: $green;
              }
            }
          }
        }
        td.active.active {
          background-color: $green;
        }
        td.active.disabled.active {
          background-color: $green;
        }
        td.active.disabled.disabled {
          background-color: $green;
        }
        td.active[disabled] {
          background-color: $green;
        }
        td.active.disabled[disabled] {
          background-color: $green;
        }
      }
    }
  }
  #EventTab {
    .btn {
      background: $green-shade;

      &.active {
        background: $green;
      }
    }
  }
  .tags {
    > li {
      strong {
        background: $green-shade;
      }
    }
  }
  .details {
    > li {
      &:before {
        background: $green;
      }
    }
  }
}

// Purple Theme

.purple {
  .btn {
    &.btn-primary {
      background-color: $purple;
  
      &:hover,
      &:active {
        background: $purple-shade;
      }
      &:focus,
      &.btn-active {
        background: $purple-shade;
      }
    }
    &.btn-secondary {
      color: $purple;
      border-color: $purple;

      &:hover,
      &:focus {
        color: $purple-shade;
        border-color: $purple-shade;
      }
      &.btn-ghost-active {
        color: $purple;
      }
    }
    &.btn-ghost {
  
      &:hover,
      &:focus {
        color: $purple;
      }
      &.btn-ghost-active {
        color: $purple;
      }
    }
    &.btn-link {
      color: $purple;
  
      &:hover,
      &.btn-link-active {
        color: $purple-shade;
      }
    }
  }
  p {
    a {
      color: $purple;
  
      &:hover,
      &:focus,
      &:active {
        color: $purple;
      }
    }
  }
  a {
    color: $purple;
  
    &:hover,
    &:focus,
    &:active {
      color: $purple;
    }
  }
  &.show-mbl-menu {
    #NavBar {
      border-bottom-color: $purple;
    }
  }
  
  .nav-list {
    li {
      &.active {
        > a {
          color: $purple;
        }
      }
    }
    a {
      &:hover {
        color: $purple;
      }
    }
    > li {
      &.dropdown {

        &.show {
          > a {
            color: $purple;
          }
        }
        ul {
          li {
            &.active {
              a {
                color: $purple;
              }
            }
          }
        }
      }
    }
  }
  #HeroCarousel {
    .carousel-indicators {
      li {
        background: $purple;
      }
    }
    .carousel-control {
      background: $purple-shade;
    }
  }
  #MainTiles {
    background: $purple-tint;

    .section-title {
      h2 {
        border-left-color: $purple;
      }
    }
  }
  .performance-list,
  .event-list {
    li {
      h5 {
        color: $purple;
      }
      &.with-overlay {
        .img {
          .status {
            strong {
              color: $purple;
              border-color: $purple;
            }
          }
        }
      }
    }
  }
  #Subscribe,
  #Footer,
  .scrollTo {
    background: $purple;
  }
  #Tips {
    background: $purple-tint;
  }
  .badge {
    &-primary {
      background: $purple;
    }
  }
  .tooltip {
    &-inner {
      background-color: $purple;
    }
    &.bs-tooltip-auto[x-placement^="top"],
    &.bs-tooltip-top {
      .arrow {
        &:before {
          border-top-color: $purple;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="right"],
    &.bs-tooltip-right {
      .arrow {
        &:before {
          border-right-color: $purple;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="bottom"],
    &.bs-tooltip-bottom {
      .arrow {
        &:before {
          border-bottom-color: $purple;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="left"],
    &.bs-tooltip-left {
      .arrow {
        &:before {
          border-left-color: $purple;
        }
      }
    }
  }
  .card {
    &-grid {
      ul {
        li {
          a:not(.btn) {
            &:hover {
              border-color: $purple;
  
              h5 {
                color: $purple;
              }
            }
          }
        }
      }
    }
    &-advertisement {
      ul {
        li { 
          &:hover {
            border-color: $purple;
          }
        }
      }
    }
    &-small {
      li {
  
        &:hover {
          a {
            color: $purple;
          }
        }
        a {
          &:hover {
            border-color: $purple;
            color: $purple;
          }
        }
      }
    }
  }
  .carousel {
    &-custom {
      .owl-carousel {
        .owl-nav {
          button {
            background: $purple;
          }
        }
      }
      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            border-color: $purple;
  
            &:hover {
              border-color: $purple;
            } 
            .carousel-slide-item {
              border-color: $purple;
  
              a {
                color: $purple;
              }
            }
          }
        }
      }
      .owl-dots {
        .owl-dot {
          &.active {
            background: $purple !important;
          }
        }
      }
    }
  }
  .accordion {
    .card {
      &-header {
        background: $purple;
      }
    }
  }
  .social-media {
    ul {
      li {
        a {
          i {
            color: $purple;
          }
        }
      }
    }
  }
  table {
    width: 100%;
  
    &:not(.table-condensed) {
      thead {
        tr {
          th {
            background: $purple;
          }
        }
      }
    }
  }
  .pagination { 
    li {
      .page-link {
        color: $purple;

        &:hover {
          background: $purple;
        }
      }
      &.active {
        .page-link {
          background: $purple;
        }
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~ .custom-control-label {
        color: $purple;
  
        &:before {
          background: $purple-shade;
        }
        &:after {
          background: $purple !important;
        }
      }
    }
  }
  .stats {
    .stat-box {
      p {
        strong {
          color: $purple;
        }
      }
    }
  }
  .contextual-stat-box {
    .desc {
      p {
        strong {
          color: $purple;
        }
      }
    }
  }
  #Result {
    .section-title {
      h2,
      p {
        strong {
          color: $purple;
        }
      }
    }
  }
  .search-result {
    li {
      div {
        strong {
          background: $purple-shade;
        }
      }
    }
  }
  .filter {
    background: $purple-tint;

    .btn-search,
    .input-group-append {
      color: $purple;
    }
  }
  .datepicker {
    table {
      tr {
        td {
          .active {
            background-color: $purple;
            &:hover {
              background-color: $purple;
              &:hover {
                background-color: $purple;
              }
              &:active {
                background-color: $purple;
              }
            }
            &:active {
              background-color: $purple;
            }
            &:hover.active {
              background-color: $purple;
            }
            &:hover.disabled {
              background-color: $purple;
            }
            &:hover[disabled] {
              background-color: $purple;
            }
            &.disabled {
              &:active {
                background-color: $purple;
              }
              &:hover.active {
                background-color: $purple;
              }
              &:hover.disabled {
                background-color: $purple;
              }
              &:hover[disabled] {
                background-color: $purple;
              }
            }
          }
        }
        td.active.active {
          background-color: $purple;
        }
        td.active.disabled.active {
          background-color: $purple;
        }
        td.active.disabled.disabled {
          background-color: $purple;
        }
        td.active[disabled] {
          background-color: $purple;
        }
        td.active.disabled[disabled] {
          background-color: $purple;
        }
      }
    }
  }
  #EventTab {
    .btn {
      background: $purple-shade;

      &.active {
        background: $purple;
      }
    }
  }
  .tags {
    > li {
      strong {
        background: $purple-shade;
      }
    }
  }
  .details {
    > li {
      &:before {
        background: $purple;
      }
    }
  }
}

// Blue Theme

.blue {
  .btn {
    &.btn-primary {
      background-color: $blue;
  
      &:hover,
      &:active {
        background: $blue-shade;
      }
      &:focus,
      &.btn-active {
        background: $blue-shade;
      }
    }
    &.btn-secondary {
      color: $blue;
      border-color: $blue;

      &:hover,
      &:focus {
        color: $blue-shade;
        border-color: $blue-shade;
      }
      &.btn-ghost-active {
        color: $blue;
      }
    }
    &.btn-ghost {
  
      &:hover,
      &:focus {
        color: $blue;
      }
      &.btn-ghost-active {
        color: $blue;
      }
    }
    &.btn-link {
      color: $blue;
  
      &:hover,
      &.btn-link-active {
        color: $blue-shade;
      }
    }
  }
  p {
    a {
      color: $blue;
  
      &:hover,
      &:focus,
      &:active {
        color: $blue;
      }
    }
  }
  a {
    color: $blue;
  
    &:hover,
    &:focus,
    &:active {
      color: $blue;
    }
  }
  &.show-mbl-menu {
    #NavBar {
      border-bottom-color: $blue;
    }
  }
  
  .nav-list {
    li {
      &.active {
        > a {
          color: $blue;
        }
      }
    }
    a {
      &:hover {
        color: $blue;
      }
    }
    > li {
      &.dropdown {

        &.show {
          > a {
            color: $blue;
          }
        }
        ul {
          li {
            &.active {
              a {
                color: $blue;
              }
            }
          }
        }
      }
    }
  }
  #HeroCarousel {
    .carousel-indicators {
      li {
        background: $blue;
      }
    }
    .carousel-control {
      background: $blue-shade;
    }
  }
  #MainTiles {
    background: $blue-tint;

    .section-title {
      h2 {
        border-left-color: $blue;
      }
    }
  }
  .performance-list,
  .event-list {
    li {
      h5 {
        color: $blue;
      }
      &.with-overlay {
        .img {
          .status {
            strong {
              color: $blue;
              border-color: $blue;
            }
          }
        }
      }
    }
  }
  #Subscribe,
  #Footer,
  .scrollTo {
    background: $blue;
  }
  #Tips {
    background: $blue-tint;
  }
  .badge {
    &-primary {
      background: $blue;
    }
  }
  .tooltip {
    &-inner {
      background-color: $blue;
    }
    &.bs-tooltip-auto[x-placement^="top"],
    &.bs-tooltip-top {
      .arrow {
        &:before {
          border-top-color: $blue;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="right"],
    &.bs-tooltip-right {
      .arrow {
        &:before {
          border-right-color: $blue;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="bottom"],
    &.bs-tooltip-bottom {
      .arrow {
        &:before {
          border-bottom-color: $blue;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="left"],
    &.bs-tooltip-left {
      .arrow {
        &:before {
          border-left-color: $blue;
        }
      }
    }
  }
  .card {
    &-grid {
      ul {
        li {
          a:not(.btn) {
            &:hover {
              border-color: $blue;
  
              h5 {
                color: $blue;
              }
            }
          }
        }
      }
    }
    &-advertisement {
      ul {
        li { 
          &:hover {
            border-color: $blue;
          }
        }
      }
    }
    &-small {
      li {
  
        &:hover {
          a {
            color: $blue;
          }
        }
        a {
          &:hover {
            border-color: $blue;
            color: $blue;
          }
        }
      }
    }
  }
  .carousel {
    &-custom {
      .owl-carousel {
        .owl-nav {
          button {
            background: $blue;
          }
        }
      }
      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            border-color: $blue;
  
            &:hover {
              border-color: $blue;
            } 
            .carousel-slide-item {
              border-color: $blue;
  
              a {
                color: $blue;
              }
            }
          }
        }
      }
      .owl-dots {
        .owl-dot {
          &.active {
            background: $blue !important;
          }
        }
      }
    }
  }
  .accordion {
    .card {
      &-header {
        background: $blue;
      }
    }
  }
  .social-media {
    ul {
      li {
        a {
          i {
            color: $blue;
          }
        }
      }
    }
  }
  table {
    width: 100%;
  
    &:not(.table-condensed) {
      thead {
        tr {
          th {
            background: $blue;
          }
        }
      }
    }
  }
  .pagination { 
    li {
      .page-link {
        color: $blue;

        &:hover {
          background: $blue;
        }
      }
      &.active {
        .page-link {
          background: $blue;
        }
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~ .custom-control-label {
        color: $blue;
  
        &:before {
          background: $blue-shade;
        }
        &:after {
          background: $blue !important;
        }
      }
    }
  }
  .stats {
    .stat-box {
      p {
        strong {
          color: $blue;
        }
      }
    }
  }
  .contextual-stat-box {
    .desc {
      p {
        strong {
          color: $blue;
        }
      }
    }
  }
  #Result {
    .section-title {
      h2,
      p {
        strong {
          color: $blue;
        }
      }
    }
  }
  .search-result {
    li {
      div {
        strong {
          background: $blue-shade;
        }
      }
    }
  }
  .filter {
    background: $blue-tint;

    .btn-search,
    .input-group-append {
      color: $blue;
    }
  }
  .datepicker {
    table {
      tr {
        td {
          .active {
            background-color: $blue;
            &:hover {
              background-color: $blue;
              &:hover {
                background-color: $blue;
              }
              &:active {
                background-color: $blue;
              }
            }
            &:active {
              background-color: $blue;
            }
            &:hover.active {
              background-color: $blue;
            }
            &:hover.disabled {
              background-color: $blue;
            }
            &:hover[disabled] {
              background-color: $blue;
            }
            &.disabled {
              &:active {
                background-color: $blue;
              }
              &:hover.active {
                background-color: $blue;
              }
              &:hover.disabled {
                background-color: $blue;
              }
              &:hover[disabled] {
                background-color: $blue;
              }
            }
          }
        }
        td.active.active {
          background-color: $blue;
        }
        td.active.disabled.active {
          background-color: $blue;
        }
        td.active.disabled.disabled {
          background-color: $blue;
        }
        td.active[disabled] {
          background-color: $blue;
        }
        td.active.disabled[disabled] {
          background-color: $blue;
        }
      }
    }
  }
  #EventTab {
    .btn {
      background: $blue-shade;

      &.active {
        background: $blue;
      }
    }
  }
  .tags {
    > li {
      strong {
        background: $blue-shade;
      }
    }
  }
  .details {
    > li {
      &:before {
        background: $blue;
      }
    }
  }
}

// Red Theme

.red {
  .btn {
    &.btn-primary {
      background-color: $red;
  
      &:hover,
      &:active {
        background: $red-shade;
      }
      &:focus,
      &.btn-active {
        background: $red-shade;
      }
    }
    &.btn-secondary {
      color: $red;
      border-color: $red;

      &:hover,
      &:focus {
        color: $red-shade;
        border-color: $red-shade;
      }
      &.btn-ghost-active {
        color: $red;
      }
    }
    &.btn-ghost {
  
      &:hover,
      &:focus {
        color: $red;
      }
      &.btn-ghost-active {
        color: $red;
      }
    }
    &.btn-link {
      color: $red;
  
      &:hover,
      &.btn-link-active {
        color: $red-shade;
      }
    }
  }
  p {
    a {
      color: $red;
  
      &:hover,
      &:focus,
      &:active {
        color: $red;
      }
    }
  }
  a {
    color: $red;
  
    &:hover,
    &:focus,
    &:active {
      color: $red;
    }
  }
  &.show-mbl-menu {
    #NavBar {
      border-bottom-color: $red;
    }
  }
  
  .nav-list {
    li {
      &.active {
        > a {
          color: $red;
        }
      }
    }
    a {
      &:hover {
        color: $red;
      }
    }
    > li {
      &.dropdown {

        &.show {
          > a {
            color: $red;
          }
        }
        ul {
          li {
            &.active {
              a {
                color: $red;
              }
            }
          }
        }
      }
    }
  }
  #HeroCarousel {
    .carousel-indicators {
      li {
        background: $red;
      }
    }
    .carousel-control {
      background: $red-shade;
    }
  }
  #MainTiles {
    background: $red-tint;

    .section-title {
      h2 {
        border-left-color: $red;
      }
    }
  }
  .performance-list,
  .event-list {
    li {
      h5 {
        color: $red;
      }
      &.with-overlay {
        .img {
          .status {
            strong {
              color: $red;
              border-color: $red;
            }
          }
        }
      }
    }
  }
  #Subscribe,
  #Footer,
  .scrollTo {
    background: $red;
  }
  #Tips {
    background: $red-tint;
  }
  .badge {
    &-primary {
      background: $red;
    }
  }
  .tooltip {
    &-inner {
      background-color: $red;
    }
    &.bs-tooltip-auto[x-placement^="top"],
    &.bs-tooltip-top {
      .arrow {
        &:before {
          border-top-color: $red;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="right"],
    &.bs-tooltip-right {
      .arrow {
        &:before {
          border-right-color: $red;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="bottom"],
    &.bs-tooltip-bottom {
      .arrow {
        &:before {
          border-bottom-color: $red;
        }
      }
    }
    &.bs-tooltip-auto[x-placement^="left"],
    &.bs-tooltip-left {
      .arrow {
        &:before {
          border-left-color: $red;
        }
      }
    }
  }
  .card {
    &-grid {
      ul {
        li {
          a:not(.btn) {
            &:hover {
              border-color: $red;
  
              h5 {
                color: $red;
              }
            }
          }
        }
      }
    }
    &-advertisement {
      ul {
        li { 
          &:hover {
            border-color: $red;
          }
        }
      }
    }
    &-small {
      li {
  
        &:hover {
          a {
            color: $red;
          }
        }
        a {
          &:hover {
            border-color: $red;
            color: $red;
          }
        }
      }
    }
  }
  .carousel {
    &-custom {
      .owl-carousel {
        .owl-nav {
          button {
            background: $red;
          }
        }
      }
      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            border-color: $red;
  
            &:hover {
              border-color: $red;
            } 
            .carousel-slide-item {
              border-color: $red;
  
              a {
                color: $red;
              }
            }
          }
        }
      }
      .owl-dots {
        .owl-dot {
          &.active {
            background: $red !important;
          }
        }
      }
    }
  }
  .accordion {
    .card {
      &-header {
        background: $red;
      }
    }
  }
  .social-media {
    ul {
      li {
        a {
          i {
            color: $red;
          }
        }
      }
    }
  }
  table {
    width: 100%;
  
    &:not(.table-condensed) {
      thead {
        tr {
          th {
            background: $red;
          }
        }
      }
    }
  }
  .pagination { 
    li {
      .page-link {
        color: $red;

        &:hover {
          background: $red;
        }
      }
      &.active {
        .page-link {
          background: $red;
        }
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~ .custom-control-label {
        color: $red;
  
        &:before {
          background: $red-shade;
        }
        &:after {
          background: $red !important;
        }
      }
    }
  }
  .stats {
    .stat-box {
      p {
        strong {
          color: $red;
        }
      }
    }
  }
  .contextual-stat-box {
    .desc {
      p {
        strong {
          color: $red;
        }
      }
    }
  }
  #Result {
    .section-title {
      h2,
      p {
        strong {
          color: $red;
        }
      }
    }
  }
  .search-result {
    li {
      div {
        strong {
          background: $red-shade;
        }
      }
    }
  }
  .filter {
    background: $red-tint;

    .btn-search,
    .input-group-append {
      color: $red;
    }
  }
  .datepicker {
    table {
      tr {
        td {
          .active {
            background-color: $red;
            &:hover {
              background-color: $red;
              &:hover {
                background-color: $red;
              }
              &:active {
                background-color: $red;
              }
            }
            &:active {
              background-color: $red;
            }
            &:hover.active {
              background-color: $red;
            }
            &:hover.disabled {
              background-color: $red;
            }
            &:hover[disabled] {
              background-color: $red;
            }
            &.disabled {
              &:active {
                background-color: $red;
              }
              &:hover.active {
                background-color: $red;
              }
              &:hover.disabled {
                background-color: $red;
              }
              &:hover[disabled] {
                background-color: $red;
              }
            }
          }
        }
        td.active.active {
          background-color: $red;
        }
        td.active.disabled.active {
          background-color: $red;
        }
        td.active.disabled.disabled {
          background-color: $red;
        }
        td.active[disabled] {
          background-color: $red;
        }
        td.active.disabled[disabled] {
          background-color: $red;
        }
      }
    }
  }
  #EventTab {
    .btn {
      background: $red-shade;

      &.active {
        background: $red;
      }
    }
  }
  .tags {
    > li {
      strong {
        background: $red-shade;
      }
    }
  }
  .details {
    > li {
      &:before {
        background: $red;
      }
    }
  }
}