#HeroCarousel {
  @media (min-width: $width-xl) {
    height: 100%;
  }
  .carousel-inner {
    @media (min-width: $width-xl) {
      height: 100%;
    }
  }
  .carousel-item {
    @media (min-width: $width-xl) {
      height: 100%;
    }
    img {
      width: 100%;

      @media (min-width: $width-xl) {
        position:relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .btn {
      position:absolute;
      left:50%;
      transform: translateX(-50%);
      bottom: 1.5rem;
      z-index: 1;
    }
  }
  .carousel-indicators {
    padding:0;
    margin:0;
    display: inline-flex;
    width: 100%;
    align-items: baseline;

    li {
      flex: 1;
      height: 1.25rem;
      border:0 none;
      margin:0;
      height: .625rem;
      opacity: 0.5;
      transition: all 0.25s;

      &.active {
        height: 1.25rem;
        opacity: 1;
      }
    }
  }
  .carousel-control {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: .0625rem solid $white;
    top:50%;
    transform: translateY(-50%);
    opacity: 1;
    margin: 0 .9375rem;

    @media (min-width: $width-lg) {
      margin:0 4.5625rem;
    }
  }
}
.carousel {
  &-custom {
    background: $n25;
    padding: 1.4375rem 0.9375rem;
    margin-bottom: 3.75rem;

    @media (min-width: $width-md) {
      padding-top: 5rem;
      padding-bottom: 2.75rem;
      margin-bottom: 5rem;
    }

    .owl-carousel {
      position: relative;

      .owl-nav {
        position: absolute;
        top: -0.3125rem;
        right: 0;

        @media (min-width: $width-md) {
          position: static;
        }
        button {
          margin: 0 0.5rem;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          color: $white;
          line-height: 2.5rem;
          font-size: 1.5rem;

          @media (min-width: $width-lg) {
            margin: 0;
            width: 2.1875rem;
            height: 2.1875rem;
            line-height: 2.1875rem;
          }
          &.owl-prev {
            margin-right: 1.6875rem;

            @media (min-width: $width-md) {
              position: absolute;
              left: -2rem;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &.owl-next {
            @media (min-width: $width-md) {
              position: absolute;
              right: -2rem;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          i {
            font-size: 1.5625rem;
          }
        }
      }
    }
    .owl-stage-outer {
      padding-top: 1.875rem;
      // padding-bottom: 1.5rem;
      padding-bottom: 3.125rem;

      @media (min-width: $width-md) {
        padding-top: 0;
      }

      .owl-stage {
        display: flex;
        left: -1.875rem;
        width: 80rem;

        @media (min-width: 41.6875rem) {
          left: 0;
        }

        .owl-item {
          flex: 0 0 auto;

          &:not(.active) {
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;

            @media (min-width: $width-sm) {
              padding-top: 0;
              padding-bottom: 0;
            }
          }

          &:hover {
            border-radius: 0.25rem;

            @media (min-width: $width-md) {
              box-shadow: 0px 1rem 20px rgba(0, 0, 0, 0.1);
            }
          }

          .carousel-slide-item {
            background: $white;
            padding: 1.5rem;
            border-radius: 0.25rem;
            border: 0.0625rem solid transparent;
            height: 100%;

            img {
              width: 100%;
              border-radius: 0.25rem;
              margin-bottom: 1.25rem;

              @media (min-width: $width-md) {
                margin-bottom: 1.5rem;
              }
            }
            h5 {
              color: $n80;
              font-size: 1rem;
              line-height: 1.5rem;
              font-weight: $semi;
              margin-bottom: 0.75rem;

              @media (min-width: $width-md) {
                font-size: 1.25rem;
                line-height: 1.875rem;
                margin-bottom: 1rem;
              }
            }
            p {
              color: $n80;
              line-height: 1.8125rem;
              margin-bottom: 1.5rem;

              @media (min-width: $width-md) {
                margin-bottom: 2rem;
              }
            }
            a {
              font-size: 1rem;
              line-height: 1.5rem;
              font-weight: $semi;
            }
          }
        }
      }
    }
    .owl-dots {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      margin-top: -1.5625rem;

      .owl-dot {
        background: $n200 !important;
        width: 0.5rem;
        height: 0.5rem;
        margin: 0 0.5rem;
        border-radius: 50%;

        @media (min-width: $width-md) {
          width: 0.75rem;
          height: 0.75rem;
          margin: 0 0.25rem;
        }

        &.active {
          outline: none;
        }
      }
    }
  }
}
#Calendar {
  .carousel-item {
    h2 {
      font-size: 2rem;
      line-height: 2.375rem;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 7rem;

      @media (min-width: $width-md) {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: left;
        margin-bottom: 2.5rem;
      }
    }
  }
  .control {
    position: absolute;
    top: 3.875rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    background: $white;

    @media (min-width: $width-md) {
      right:0;
      top:0;
      left: auto;
      transform: none;
    }
    a {
      display: block;
      width: 3rem;
      height: 3rem;
      margin:0 .625rem;
      position: static;
      line-height: 3rem;
      text-align: center;
      border-radius: 50%;
      color: $white;
      font-size: 1.25rem;
      opacity: 1;

      @media (min-width: $width-md) {
        margin-right: 0;
      }
      &:not(:first-child) {
        @media (min-width: $width-md) {
          margin-left: 1.25rem;
        }
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}