.dropdown-menu {
  box-shadow: 0px 1rem 3.75rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: $white;
  border: none;
  padding: 1rem;
  max-width: 12.5rem;
  width: 12.5rem;
  left: auto;
  right: 0;
  margin-top: 0.5rem !important;

  a {
    padding: 0.625rem 0.5rem;
    font-weight: $regular;
    font-size: 0.875rem;
    font-weight: $regular;
    white-space: normal;
    line-height: 1.375rem;

    &:hover {
      background: $b25;
      color: $orient;
      text-decoration: none !important;
    }
  }
}