.stats {
  .stat-box {
    text-align: center;

    img {
      max-width: 6.375rem;
      margin: 0 auto 1.5rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.5625rem;
      color: $n600;

      strong {
        display: block;
        font-weight: $bold;
        font-size: 2rem;
        line-height: 2.75rem;
        margin-bottom: 0.6875rem;
      }
    }
  }
}

.contextual-stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $width-sm) {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .image {
    @media (min-width: $width-sm) {
      margin-right: 1.75rem;
    }
    img {
      max-width: 6.375rem;
      margin-bottom: 1.875rem;
    }
  }
  .desc {
    p {
      margin-bottom: 1.25rem;

      strong {
        font-size: 2rem;
        line-height: 2.75rem;
        margin-bottom: 0.6875rem;
        display: block;
      }
    }
    a {
      white-space: nowrap;
      padding-left: 0;
    }
  }
}
