#EventTab {
  padding: 2rem 0 4rem 0;
  justify-content: center;
  border: 0 none;
  margin-left: -0.625rem;
  margin-right: -0.625rem;

  li {
    margin:0;
    padding: 0 .625rem;
    
    @media (min-width: $width-sm) {
      min-width: 14rem;
    }
    a {
      height: 3.75rem;
      border: 0 none;
      color: $white;
      font-size: .875rem;

      @media (min-width: $width-xs) {
        font-size: 1rem;
      }
      @media (min-width: $width-sm) {
        font-size: 1.25rem;
      }
    }
  }
}